
.panner {
  background: url(../images/panner/panner_bg.svg)
  bottom center no-repeat !important;
  background-size: auto auto;
}

.brand-logo:hover, .avatar:hover, .avatar img:hover, .btn:hover, .card:hover, .card50100:hover, 
.avatar-user:hover, .title-transform:hover, .bg-top-panner-left:hover, .bg-top-panner-right:hover,
.image-in-card:hover {
  transition-duration: .5s !important;
  transition-timing-function: cubic-bezier(.4,0,.2,1) !important;
}

/** modal **/
/* suot qua trinh them phan tu va go phan tu */
.modal-enter {
  transition-duration: .5s !important;
  transition-timing-function: cubic-bezier(.4,0,.2,1) !important;
}
/* hoan phan tu dc them vao, ket thuc transition */
.modal-enter-start {
  transform: scale(0.5);
  opacity: 40%;
}
/* trang thai khi hien thi va truoc luc xoa phan tu */
.modal-enter-end, .modal-leave-start {
  opacity: 100;
  transform: scale(1);
}
/* suot qua trinh go phan tu */
.modal-leave {
  transition-duration: .2s !important;
  transition-timing-function: cubic-bezier(.4,0,.2,1) !important;
}
/* phan tu bi go khoi dom */
.modal-leave-end {
  transform: scale(0.3);
  opacity: 20%;
}


.image-in-card:hover {
  transform: scale(1.3);
}

.avatar-user:hover {
  transform: scale(1.1);
}

.brand-logo:hover {
  transform: rotate(395deg) scale(1.1);
  background: #00998b;
}

.bg-top-panner-right:hover {
  transform: translateY(-25px) translateX(-15px) scale(1.02);
  opacity: 35%;
}

.bg-top-panner-left:hover {
  transform: translateY(-25px) translateX(15px) scale(1.02);
  opacity: 35%;
}

.avatar:hover {
  transform: rotate(395deg);
}

.avatar img:hover, .btn:hover, .card:hover {
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.btn:hover {
  transform: scale(1.05);
}

.card:hover {
  transform: scale(1.03);
  background-color: #6c15e8;
}

.card50100:hover {
  transform: scale(1.03);
  background-color: #6c15e8;
}

.title-transform:hover {
  transform:translateX(5px);
}

.footer {
  background: linear-gradient(45deg, #3800b5 10%, #7d11ff);
}

